$light1:rgb(255, 255, 255);
$light2:rgb(238, 238, 238);
$light3:rgb(204, 204, 204);
$Dark1:rgb(17, 17, 17);
$Dark2:rgb(85, 85, 85);
$Dark3:rgb(119, 119, 119);
$Dark4:rgb(153, 153, 153);
$Pink:rgb(255, 57, 152);
$orange:rgba(255, 129, 57, 1);
