@import"colors";

html {
    background-color: $light2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.01rem;
}

body {
    background-color: $light1;
    border-radius: 16px;
    margin: 0 auto;

    .container {
        padding-left: 1.5rem;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-right: 1.5rem;



    .burger img {
        width: 20px;
        height: 20px;

    }

    a {
        padding-left: 2rem;
        color: $Dark3;
        text-decoration: none;
        font-size: larger;

    }

    .nav-link :last-child {
        color: $Pink;
    }
}

.hero {
    margin-top: 5rem;
    // margin-bottom: 5rem;
    display: flex;
    overflow: hidden;


    .graphic {

        img {
            overflow: hidden;
            margin-left: 200px;
            width: 400px;
        }
    }

    .text {
        position: absolute;
        z-index: 0;
        width: 70%;

        h1 {
            margin-top: 0.6rem;
            margin-bottom: 1rem;
            font-size: 3.5rem;
            font-weight: bolder;
        }
    }

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    font-size: 2.5rem;

    p {
        span {
            text-decoration: underline;
        }
    }

    p {
        text-align: left;
        font-weight: lighter;
        color: $Dark3;
        font-size: 1.5rem;

    }

    .launch {
        font-size: 1.1rem;
        color: $Pink;
        font-weight: bold;
        letter-spacing: 0.21rem;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    width: 188px;
    height: 65px;
    background-image: radial-gradient(circle at 100% 100%, transparent 29px, #ff3998 29px, #ff3998 32px, transparent 32px), linear-gradient(to right, #ff3998, #d3ec18), radial-gradient(circle at 0% 100%, transparent 29px, #d3ec18 29px, #d3ec18 32px, transparent 32px), linear-gradient(to bottom, #d3ec18, #ff8139), radial-gradient(circle at 0% 0%, transparent 29px, #ff8139 29px, #ff8139 32px, transparent 32px), linear-gradient(to left, #ff8139, #ff3939), radial-gradient(circle at 100% 0%, transparent 29px, #ff3939 29px, #ff3939 32px, transparent 32px), linear-gradient(to top, #ff3939, #ff3998);
    background-size: 32px 32px, calc(100% - 64px) 3px, 32px 32px, 3px calc(100% - 64px);
    background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
    background-repeat: no-repeat;
}

.sellpoint-container {
    height: 300px;
    display: flex;
    align-items: flex-end;
    background-image: url(./assets/background.svg);
    background-position: center;
    background-repeat: no-repeat;

    padding: 1.5rem;



    h3 {
        padding-top: 1.5rem;
    }

    p {
        color: $Dark1;
        padding-bottom: 1.5rem;
    }


}

.companies {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    :nth-child(4) {
        display: none;
    }

    img {
        width: 130px;
        padding-right: 1.5rem;

    }
}

.products {
    padding-bottom: 2rem;
}

.products,
.footer-upsell {
    border-bottom: 1px solid $light2;

}

.cards {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 2rem;


    :not(.not):hover {
        box-shadow: 2px 2px 9px 0px $orange;
    }

    .cardbox {
        :not(.not):hover {
            padding: 0.1rem;
        }

        width: 290px;
        border-radius: 16px;
        background-color: $light2;
        margin-right: 1.5rem;
    }

    .info {
        display: flex;
        justify-content: space-between;
        padding: 1.2rem;

    }

    .series {
        text-align: left;

        tr:first-child {
            color: $orange;
        }

    }

    .bid {
        text-align: right;

        tr:first-child {
            color: $Dark3;
        }
    }

    .bid,
    .series {
        table {
            tr:first-child {
                font-size: small;

            }

            :nth-child(2) {
                font-size: larger;
            }

            :nth-child(3) {
                color: $Dark3;
            }
        }
    }

}

.footer-upsell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 2rem;

    img {
        align-self: flex-end;
        overflow: hidden;
        padding-left: 2rem;
        width: 200px;

    }

    .text {
        z-index: 0;
        width: 50%;

        h1 {
            font-size: 3rem;
            line-height: 1;
            font-weight: bolder;
            margin-top: 1rem;
        }


    }
}

.footer-top {
    color: $Dark4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.5rem;

    .infoblock {
        padding: 1rem;

    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .list-items {
            padding: 1rem;
        }


        li {
            font-size: 1.2rem;
            list-style-type: none;
            
        }

        a {
            text-decoration: none;
            color: $Dark4;
            font-size: 1.4rem;
            line-height: 1.5;

        }

        .br {
            padding-bottom: 1.5rem;
            color: $Dark2;
        }
    }

}

.footer-bottom {
    color: $Dark4;
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;

}

////////////////////////////////////////////////MEDIA\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media only screen and (min-width: 230px) {
    .sellpoint-container {
        height: 370px;
        margin-top: 12rem;
    }

    .nav-link {
        display: none;

    }

    .footer-upsell {

        img {

            padding-top: 5rem;

        }}


        .footer-bottom {

            :last-child {
                display: none;
            }

            display: contents;
            text-align: center;
        }

        @media only screen and (min-width: 429px) {

            .hero {
                .graphic {

                    img {
                        transition: ease 1s;
                        overflow: hidden;
                        margin-left: 0;
                        width: 400px;
                    }
                }

                .text {
                    position: static;
                    z-index: 0;
                    width: 80%;

                    h1 {
                        margin-top: 0.6rem;
                        margin-bottom: 1rem;
                        font-size: 3.5rem;
                        font-weight: bolder;
                    }
                }

            }

            .sellpoint-container {
                margin-top: 0rem;
            }

            .companies {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                :nth-child(4) {
                    display: inherit;
                }

                img {
                    width: 130px;
                    padding-top: 1rem;
                }
            }
        }

        @media only screen and (min-width: 650px) {

            .nav-link {
                display: block;

            }

            .burger {
                display: none;
            }

            .footer-upsell {
                overflow: none;

                img {
                    align-self: flex-end;
                    overflow: none;
                    padding-left: 0rem;
                    padding-right: 10rem;


                }
            }

            .footer-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                :last-child {
                    display: contents;
                }

            }

        }

        @media only screen and (min-width: 992px) {

            body {
                .container {
                    padding-left: 5rem;
                }
            }

            nav,
            .companies,
            footer {
                padding-right: 5rem;

            }

            .hero {
                transition: ease 0.5s;

                .text {
                    z-index: 0;
                    width: 100%;

                    h1 {
                        transition: ease 0.5s;
                        margin-top: 0.6rem;
                        margin-bottom: 1rem;
                        font-size: 6rem;
                    }
                }

                .graphic {

                    img {
                        transition: ease 0.5s;
                        overflow: hidden;
                        width: 700px;
                    }
                }
            }

            .sellpoint-container {

                padding: 5rem;

                .text {
                    transition: ease 0.5s;
                    padding-left: 5rem;
                }
            }

        }

        @media only screen and (min-width: 1441px) {
            .sellpoint-container {
                background-size: contain;
                padding: 5rem;

                .text {
                    transition: ease 0.5s;
                    padding-left: 5rem;
                }
            }
        }
    }